contourpy
cycler==0.12.1
fonttools==4.59.2
geographiclib==2.1
geopy==2.4.1
joblib==1.5.2
kiwisolver==1.4.9
markdown-it-py==4.0.0
matplotlib==3.10.6
mdurl==0.1.2
numpy
packaging==25.0
pandas==2.3.2
patsy==1.0.1
pillow==11.3.0
Pygments==2.19.2
pyparsing==3.2.4
python-dateutil==2.9.0.post0
pytz==2025.2
rich==14.1.0
scikit-learn==1.7.2
scipy
six==1.17.0
statsmodels==0.14.5
threadpoolctl==3.6.0
tzdata==2025.2
seaborn
plotly==5.24.1
